/* General Things*/
* {
    box-sizing: border-box;
  }

:target::before {
    content: "";
    display: block;
    height: 50px; 
    margin: -50px 0 0;
}

html{
    margin:0;
    padding:0;
    height:100%;
    scroll-padding-top: 40px;
}

body{
    margin:0;
    padding:0;
    height: 100%;
}

.anchor{
    padding-top:60px
}

/*header image and text in front of it*/

.parallax{
    height: 100vh;
    background: transparent;
    min-width:100%;
    top: 0;
    left: 0;
    border: 0;
    margin:0;
    overflow: hidden;
}

.box{
    /*width: 450px;*/
    background: rgba(0,0,0, 0);
    text-align: center;
    margin-top: 13%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    z-index: 2;
    position: relative;
}

.myName{
    color:white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 120px;
}

/* Website Body */

.section-header{
    display: block;
    text-align: center;
    font-family: 'Tisa';
    margin:5px;
    z-index: 1;
    overflow: hidden;
}

.aboutMeBox{
    display: block;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    z-index: 1;
    overflow: hidden;
}
.projectBox{
    background-color: gainsboro;
}

.skillsBox{
    display: block;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0px;
    background-color: ghostwhite;
}

.contactSectionBox{
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: gainsboro;
}

.aboutMePhoto{
    float: left;
    margin: 0 2%;
    width: 46%;
    text-align: center;
    height: 60%;
    min-height:450px ;
    min-width: 368px;
}

.aboutMeImage{
    border-radius: 5%;
    margin-top: 4%;
    width:60%;
    text-align: center;
    min-width: 368px;
}

.aboutMeText{
    float: left; 
    width: 46%;
    margin:0 2%;
    text-align:center; 
    height: 60%;
    overflow: hidden;
    min-height: 450px;
    min-width: 368px;
}

.theAboutMeText{
    margin-top: 5%;
    font-size: 20px;
    font-style: 'Century Gothic', sans-serif;
    margin-left: 10%;
    line-height: 1.8;
}

.logo{ 
    display:block;
    float: left; 
    width: 32%; 
    margin:0 2%;
    text-align:right; 
    min-height: 140px;
    z-index: 1;
    min-width: 255px;
    overflow: hidden;
}

.largeLogo{ 
    height: 23%;
    min-height: 200px;

}

.text{
    display: block;
    float: left;
    margin: 0 2%;
    width: 60%;
    text-align: left;
    overflow: hidden;
    min-height: 160px;
    z-index: 1;
    min-width: 280px;
    overflow: hidden;
}

.largeText{
    height: 23%;
    min-height: 200px;
}

.largestText{
    height: 23%;
    min-height: 210px;
}

.logoImage{
    text-align: center;
    margin-top: 2.5vh;
    height: 100px;
    border-radius: 5%;
}

.largeImage{
    height: 140px;
}

.midImage{
    height: 110px;
}

.highMidImage{
    height: 130px;
}

.skillsCol1{ 
    float: left; 
    width: 46%; 
    margin:0 2%;
    text-align:right; 
    height: 25%;
}

.skillsCol2{
    float: right;
    text-align: left;
}

.blackDot{
    height: 10px;
    width: 10px;
}
.whiteDot{
    height:10px;
    width:10px;
}

.skillsList{
    font-size: 15px;
    line-height: 2;
    font-style: 'Century Gothic', sans-serif;

}

.link{
    outline: none;
    text-decoration: none;
    /*padding: 2px 1px 0;*/
    color: #437A16;
}

.contactInfo{
    text-align: center;
    font-size: 15px;
    line-height: 2;
    font-style: 'Century Gothic', sans-serif;
}

.contactCol1{ 
    float: left; 
    width: 48%; 
    margin:0 1%;
    text-align:right; 
    height: 25%;
}

.contactCol2{
    float: right;
    text-align: left;
}

.linkedInImage{
    height: 20px;
}

/* navigation window at the top of the screen*/

.navBar{
    width:100vw;
    margin:0 auto;
}

header{
    background-color: rgba(0, 0, 0, 0);
}

header::after{
    content:'';
    display:table;
    clear: both;
}

.name .blog{
    float:left;
    padding:10px;
}

.leftList{
    float:left;
    margin:0;
    padding: 0;
    list-style: none;
    text-align: left;
    width: 20vw;
    min-width: 200px;
}

.rightList{
    float:right;
    text-align: right;
    margin:0;
    padding: 0;
    list-style: none;
    width: 80vw;
    min-width: 700px;
}

nav li{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px;
    position: relative;
}

nav{
    position:fixed;
    z-index: 100;
    background-color: rgb(179, 179, 179);
    width:100%
}

nav a{
    color:#444;
    text-decoration: none;
}

nav a:hover{
    color:#000;
}

ul{
    min-width: 1200px;
}

.navBar a::before{
    content:'';
    display:block;
    height:5px;
    width:100%;
    background-color: #444;

    position:absolute;
    top:0;
    width : 0%;
    transition: all ease-in-out 250ms;
}

.navBar a:hover::before{
    width:100%;
}

.dropDown {
    position: relative;
    display: none;
    text-align: center;
    margin: 3px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropDownList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropDownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropDownList a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .dropDownButton {
    -webkit-appearance: none;
    background-color:#313639 ;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8%;
    text-align: center;
  }
  
  /* Dropdown button on hover & focus */
  .dropDownButton:hover, .dropDownButton:focus {
    background-color: black;
  }
  
  @media (max-width: 820px) {
    nav .navBar    { display: none; }
    nav .dropDown { display: inline-block; }
  }

  @media (max-width: 800px){
        .largeLogo {width: 100vw; text-align: center; min-height: 140px;}
        .logo {width: 100vw; text-align: center;}
        .largeText{width:95vw; text-align: left;}
        .text{width:95vw; text-align: left;}
        .largestText{width:95vw; text-align: left;}
        .aboutMeText{width:95vw; text-align: left; margin-left: 0px; margin: 0 0%;}
        .aboutMePhoto{width:100vw; text-align: center;}
    }
